<p><a href="/">Home</a> — <a href="/devs">Developer Index</a> — <a href="/games">Games Index</a></p>
<hr class="solid">

<h1>Add Game to <%= "#{@dev.name}" %></h1>

<form action=<%= "/devs/#{@dev.id}/games" %>  method="post">
    <input type="hidden" dev_id=<% @dev.id %>>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Game Name:</p>
    <input type='text' name='name' placeholder='e.g. Super Mario Bros'/><br/>
    <p>Number of Players:</p>
    <input type='number' name='players' placeholder='e.g. 2'/><br/><br>
    <input type="checkbox" name="online" value="true">
    <label for="online">Has Online Play?</label><br/><br/>
    <button type="submit" name="create_game">Add Game</button></form>
</form>
