
<p><a href="/">Home</a> — <a href="/devs">Developer Index</a> — <a href="/games">Games Index</a></p>
<hr class="solid">

<h1>Game Developer Index</h1>
<p>This page shows all Game Developers in the tracker database.</p>
<br>

<% @devs.each do |dev| %>
    <h3><%= dev.name %></h3>
    <p>Entry created: <%= dev.created_at %><p>
    <ul>
        <li><p>Number of Employees: <%= dev.employees %></p></li>
        <li><p>Operational: <%= dev.operational? %></p></li>
    </ul>
    <br>
<% end %>