<h1>Welcome to the Game Developers Tracker!</h1>

<div>
    <ul>
        <li><a href="/devs">View Game Developers Index</a></li>
        <li><a href="/devs/new">Add New Game Developer</a></li>
    </ul>
</div>
<div>
    <ul>
        <li><a href="/games">View Games Index</a></li>
        <li><a href="/games/new">Add New Game</a></li>
    </ul>
</div>